<style media="screen">
    body {
        background-color: #f0f0f0;
    }

    #keyboard {
        display: inline-block;
        padding: 10px 15px;
        border: 1px solid #009;
        border-radius: 10px;
        /*background-color: #87cdf9;*/
        text-align: center;
        box-shadow: 4px 4px 4px #999;
        margin-left: 540px;
    }

        /*#keyboard div {
            margin: 5px 0;
        }*/

    #space {
        width: 184px;
    }

    #keyboard label {
        margin-top: 20px;
        font-family: serif;
        text-decoration: underline;
    }

    #keyboard input {
        box-shadow: 2px 2px 2px #666;
    }

        #keyboard input[type="text"] {
            margin-top: 20px;
            border: 1px solid #666;
            border-radius: 4px;
            box-shadow: none;
        }

    input {
        width: 60px;
        height: 60px;
    }

    .changeColor {
        color : blue;
    }
</style>
<div class="container">
    <div id="keyboard" tabindex="1">

        <div>
            <input type="button" value="Q" ng-click="$ctrl.testclick()">
            <input type="button" value="W" ng-click="$ctrl.testclick2()">
            <input type="button" value="E">
            <input type="button" value="R">
            <input type="button" value="T">
            <input type="button" value="Y">
            <input type="button" value="U">
            <input type="button" value="I">
            <input type="button" value="O">
            <input type="button" value="P">
        </div><div>
            <input type="button" value="A">
            <input type="button" value="S">
            <input type="button" value="D">
            <input type="button" value="F">
            <input type="button" value="G">
            <input type="button" value="H">
            <input type="button" value="J">
            <input type="button" value="K">
            <input type="button" value="L">
        </div><div>
            <input type="button" value="Z">
            <input type="button" value="X">
            <input type="button" value="C">
            <input type="button" value="V">
            <input type="button" value="B">
            <input type="button" value="N">
            <input type="button" value="M">
        </div><div>
            <input id="space" type="button" value=" ">
            <input id="clear" type="reset" value="clear">
        </div>

    </div><!-- end #keyboard -->
    <div>
        <label>Upload Sound</label>
        <input type="file" accept="audio/*" ng-model="$ctrl.audioinput"/>
        <button ng-click="$ctrl.uploadAudio()">Upload</button>
    </div>
</div>
